# Review Analysis using Sentiment Analysis

In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('Restaurant_Reviews.tsv', sep = '\t')

In [7]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [11]:
df.isnull().sum()

Review    0
Liked     0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  1000 non-null   object
 1   Liked   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [14]:
empty = []

for index,Review,Liked in df.itertuples():
    if type(Review) == str:
        if Review.isspace():
            empty.append(index)

In [16]:
empty

[]

In [22]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

model = SentimentIntensityAnalyzer()


df['Score'] = df['Review'].apply(lambda text: model.polarity_scores(text))

df.head()

,Review,Liked,Score
0,Wow... Loved this place.,1,"{'neg': 0.0, 'neu': 0.435, 'pos': 0.565, 'comp..."
1,Crust is not good.,0,"{'neg': 0.445, 'neu': 0.555, 'pos': 0.0, 'comp..."
2,Not tasty and the texture was just nasty.,0,"{'neg': 0.34, 'neu': 0.66, 'pos': 0.0, 'compou..."
3,Stopped by during the late May bank holiday of...,1,"{'neg': 0.093, 'neu': 0.585, 'pos': 0.322, 'co..."
4,The selection on the menu was great and so wer...,1,"{'neg': 0.0, 'neu': 0.728, 'pos': 0.272, 'comp..."

In [24]:
df['Compound'] = df['Score'].apply(lambda text: text['compound'])

In [26]:
df.head()

,Review,Liked,Score,Compound
0,Wow... Loved this place.,1,"{'neg': 0.0, 'neu': 0.435, 'pos': 0.565, 'comp...",0.5994
1,Crust is not good.,0,"{'neg': 0.445, 'neu': 0.555, 'pos': 0.0, 'comp...",-0.3412
2,Not tasty and the texture was just nasty.,0,"{'neg': 0.34, 'neu': 0.66, 'pos': 0.0, 'compou...",-0.5574
3,Stopped by during the late May bank holiday of...,1,"{'neg': 0.093, 'neu': 0.585, 'pos': 0.322, 'co...",0.6908
4,The selection on the menu was great and so wer...,1,"{'neg': 0.0, 'neu': 0.728, 'pos': 0.272, 'comp...",0.6249

In [33]:
def polarity(compound):
    if compound > 0.0:
        return 1
    else:
        return 0
    
    
df['Prediction'] = df['Compound'].apply(polarity)

In [35]:
df.head()

,Review,Liked,Score,Compound,Prediction
0,Wow... Loved this place.,1,"{'neg': 0.0, 'neu': 0.435, 'pos': 0.565, 'comp...",0.5994,1
1,Crust is not good.,0,"{'neg': 0.445, 'neu': 0.555, 'pos': 0.0, 'comp...",-0.3412,0
2,Not tasty and the texture was just nasty.,0,"{'neg': 0.34, 'neu': 0.66, 'pos': 0.0, 'compou...",-0.5574,0
3,Stopped by during the late May bank holiday of...,1,"{'neg': 0.093, 'neu': 0.585, 'pos': 0.322, 'co...",0.6908,1
4,The selection on the menu was great and so wer...,1,"{'neg': 0.0, 'neu': 0.728, 'pos': 0.272, 'comp...",0.6249,1

In [39]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(df['Liked'], df['Prediction']))

              precision    recall  f1-score   support

           0       0.81      0.81      0.81       500
           1       0.81      0.81      0.81       500

    accuracy                           0.81      1000
   macro avg       0.81      0.81      0.81      1000
weighted avg       0.81      0.81      0.81      1000

In [40]:
confusion_matrix(df['Liked'], df['Prediction'])

array([[406,  94],
       [ 94, 406]], dtype=int64)